@{
    ViewData["Title"] = "Home Page";
 
    Layout = "_Layout";

}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <div class="user-pic">
        <img class="img-responsive img-rounded" src="~/images/aadan.jpg">
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
